<p class='alert alert-danger'>Kyseessä on ammattikorkeakoulun lopputyö. Sivusto
EI ole oikea verkkokauppa. Älä anna oikeita tietojasi, koska ne säilytetään verkossa
olevassa tietokannassa eikä tietojen täydellistä turvallisuutta voida varmistaa.
Tietojasi ei varmenneta, joten niiden ei tarvitse olla oikeita.</p>

<!-- Luokka, joka sitoo koko formin yhteen -->
<div class='form-group container mb-5'>

  <!-- Otsikko -->
  <h4 class='mt-3'>Rekisteröidy</h4>
  <hr>

  <!-- Rekisteröitymis-formi. -->
  <form (ngSubmit)='register(regForm.value)' class='pb-3 pt-3'
    #regForm='ngForm' novalidate>

    <!-- Etunimi -->
    <div class='form-group'>
      <label>Etunimi</label>
      <input type='text' name='firstname' class='form-control'
        ngModel required #firstname='ngModel'>
    </div>
    <small *ngIf='firstname.touched && regForm.form.hasError("required", "firstname")'
        class='alert alert-warning input-group-text'> Etunimi ei voi olla tyhjä.
    </small>

    <!-- Sukunimi -->
    <div class='form-group'>
      <label>Sukunimi</label>
      <input type='text' name='surname' class='form-control'
        ngModel required #surname='ngModel'>
    </div>
    <small *ngIf='surname.touched && regForm.form.hasError("required", "surname")'
        class='alert alert-warning input-group-text'> Sukunimi ei voi olla tyhjä.
    </small>

    <!-- Sähköposti -->
    <div class='form-group'>
      <label>Sähköposti</label>
      <input type='email' name='email' class='form-control'
        ngModel required #email='ngModel' pattern='^([a-zA-Z0-9])(([\-.]|[_]+)?([a-zA-Z0-9]+))*(@){1}[a-z0-9]+[.]{1}(([a-z]{2,3})|([a-z]{2,3}[.]{1}[a-z]{2,3}))'>
    </div>
    <small *ngIf='email.touched && regForm.form.hasError("required", "email")'
        class='alert alert-warning input-group-text'> Sähköposti ei voi olla tyhjä.
    </small>
    <small *ngIf='email.invalid && email.dirty && email.touched'
      class='alert alert-warning input-group-text'> Sähköposti on väärin kirjoitettu.
    </small>

    <!-- Lähiosoite -->
    <div class='form-row'>
      <div class='form-group col-md-6'>
        <label>Lähiosoite</label>
        <input type='text' name='address' class='form-control'
          ngModel required #address='ngModel'>
      </div>

      <!-- Postinumero -->
      <div class='form-group col-md-2'>
        <label>Postinumero</label>
        <input type='text' name='postnumber' class='form-control'
          ngModel required #postnumber='ngModel' pattern='[0-9]{5}$'>
      </div>

      <!-- Postitoimipaikka -->
      <div class='form-group col-md-4'>
        <label>Postitoimipaikka</label>
        <input type='text' name='city' class='form-control'
          ngModel required #city='ngModel'>
      </div>
    </div>

    <!-- Osoitetietojen virhekäsittely -->

    <!-- Lähiosoite -->
    <small *ngIf='address.touched && regForm.form.hasError("required", "address")'
        class='alert alert-warning input-group-text'> Lähiosoite ei voi olla tyhjä.
    </small>
    <!-- Postinumero -->
    <small *ngIf='postnumber.touched && regForm.form.hasError("required", "postnumber")'
        class='alert alert-warning input-group-text'> Postinumero ei voi olla tyhjä.
    </small>
    <!-- Postinumero - jossei sisällä tasan 5 numeroa -->
    <small *ngIf='postnumber.invalid && postnumber.dirty && postnumber.touched'
      class='alert alert-warning input-group-text'> Postinumero koostuu 5 numerosta.
    </small>
    <!-- Kaupunki -->
    <small *ngIf='city.touched && regForm.form.hasError("required", "city")'
        class='alert alert-warning input-group-text'> Postitoimipaikka ei voi olla tyhjä.
    </small>

    <!-- Salasana -->
    <div class='form-group'>
      <label>Salasana</label>
      <small><p>Salasanan pitää sisältää vähintään 8 merkkiä, yhden numeron sekä
         yhden ison ja pienen kirjaimen.</p></small>
      <input type='password' name='password' class='form-control' minlength=8
        ngModel required #password='ngModel' pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})'>
    </div>
    <small *ngIf='password.touched && regForm.form.hasError("required", "password")'
        class='alert alert-warning input-group-text'> Salasana ei voi olla tyhjä.
    </small>

    <!-- Uutiskirje -->
    <div class='form-group'>
      <div class='form-check'>
        <input ngModel name='send_email' class='form-check-input' type='checkbox'>
        <label class='form-check-label' for='send_email'>
          Minulle saa lähettää uutiskirjeitä
        </label>
      </div>
    </div>

    <!-- Lähetä -painike, jota ei voida painaa jossei formi ole kunnossa -->
    <button type='submit' class='btn btn-success'
      [disabled]='!regForm.form.valid'>Rekisteröidy
    </button>

  </form>

  <!-- Jos rekisteröityminen onnistuu -->
  <div *ngIf='regSuccess' class='alert alert-success'>
    {{ regSuccess }}
  </div>

  <!-- Jos rekisteröityminen epäonnistuu -->
  <div *ngIf='regFailed' [hidden]='regSuccess' class='alert alert-danger'>
    {{ regFailed }}
  </div>

</div>
