<!-- Sivuston footer puoli, joka on toteutettu Bootstrapilla. Footer ei sisällä
minkäänlaista logiikkaa vaan toimii enemmän visuaalisena näytäntönä sivuston
katsojille. -->

<footer class='footer mb-0 '>
  <div class='container bottom_border pl-5' id='footer-content'>
    <div class='row'>
      <div class=' col-sm-4 col-md col-sm-4 col-12 col'>

        <h5 class='headin5_amrc col_white_amrc pt2'>Suhautus Oy</h5>
        <p class='mb10'>Suhautus on jo vuodesta 1998 aloittanut tietokoneen
          varaosien jälleenmyyjä. Täältä löydät mitä erikoisimmat hilavitkuttimet
          sekä mahtavimmat tarjoukset.</p>
        <p><i class='fa fa-location-arrow'></i> Emännäntie 1B, 40740 Jyväskylä</p>
        <p><i class='fa fa-phone'></i> + 358 505095959 </p>
        <p><i class='fa fa fa-envelope'></i> suhautus@palvelut.fi </p>
      </div>

      <div class=' col-sm-5 col-md  col-12 col'>
        <h5 class='headin5_amrc col_white_amrc pt2'>Uusimmat postaukset</h5>

        <ul class='footer_ul2_amrc'>
          <li><a href='#'><i class='fa fa-facebook fleft padding-right'></i> </a>
            <p><a href='#'>(2018.01.12) Uusin hilavitkutin suunniteilla..</a></p>
          </li>
          <li><a href='#'><i class='fa fa-twitter fleft padding-right'></i> </a>
            <p><a href='#'>(2018.12.12) Katsokaa tätä kaunokaista!..</a></p>
          </li>
          <li><a href='#'><i class='fa fa-instagram fleft padding-right'></i> </a>
            <p><a href='#'>(2018.21.12) Suhaus on uudistunut! Käykää..</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
    <ul class='foote_bottom_ul_amrc'>
      <li class='col-sm'><a routerLink='/etusivu'>Etusivu</a></li>
      <li class='col-sm'><a routerLink='/FAQ'>FAQ</a></li>
      <li class='col-sm'><a routerLink='/asiakaspalvelu'>Asiakaspalvelu</a></li>
      <li class='col-sm'><a routerLink='/tietoa'>Tietoa meistä</a></li>
    </ul>
  </div>
    <p class='text-center'>Suhautus 2018 @ Kaikki oikeudet pidätetään.</p>

    <ul class='social_footer_ul pr-5'>
      <li><a href='https://facebook.com/suhautus'><i class='fa fa-facebook-f'></i></a></li>
      <li><a href='https://twitter.com/suhautus'><i class='fa fa-twitter'></i></a></li>
      <li><a href='https://linkedin.com/suhautus'><i class='fa fa-linkedin'></i></a></li>
      <li><a href='https://instagram.com/suhautus'><i class='fa fa-instagram'></i></a></li>
    </ul>
  </div>

</footer>
