<div class='row'>
  <div *ngFor='let product of products' class='col-sm-12 col-lg-4 pb-3 px-1'>
    <div class='card h-100 border-secondary'>
      <a routerLink='/tuote/{{ product.safename }}' class='border-bottom'>
        <img class='card-img-top' [src]='imageurl + product.img' [alt]='product.name'></a>
        <div class='card-body bg-light '>
        <h4 class='card-title'><a routerLink='/tuote/{{ product.safename }}'>
            {{ product.name }}</a></h4>
        <h5 class='card-text'>{{ product.type }}</h5>
        <ul class='card-text h-50 nav-link'>
          <li class='nav-item overflow-hidden' *ngFor='let p of product.bulletpoints'>
            <span *ngIf='p.length > 40'>{{ p | slice:0:40 }}..</span>
            <span *ngIf='p.length < 41'>{{ p }}</span>
          </li>
        </ul>
      </div>
        <div class='card-footer bg-dark overflow-hidden'>
          <div class=row>
            <div class='col-md-12 col-lg-6 mb-1'>
              <button (click)='addToCart(product)' class='btn btn-primary'>
                {{ product.price }} € <i class='fa fa-cart-plus px-2'></i>
              </button>
            </div>
            <div class='col'>
              <button routerLink='/tuote/{{product.safename}}' class='btn btn-success btn-block'>
                Lue lisää <i class='fa fa-mail-forward'></i>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
