<h2 class='text-center'>Usein kysytyt kysymykset</h2>
<hr>
<div class='container text-center'>
  <blockquote class="blockquote">
    <p class="mb-0">Kuinka nopeasti tilaukseni tulevat?</p>
    <footer class="blockquote-footer">Tilaukset tulevat yleensä 4-7 viikon aikana <cite title="Source Title"> (Pete, Suhautus)</cite></footer>
  </blockquote>

  <blockquote class="blockquote">
    <p class="mb-0">Ovatko tuotteet uusia?</p>
    <footer class="blockquote-footer">Osat tuotteista ovat - muttemme kerro mitkä ;) <cite title="Source Title"> (Sauli, Suhautus)</cite></footer>
  </blockquote>

  <blockquote class="blockquote">
    <p class="mb-0">Hei, ostin LeForcen 3 viikkoa sitten. Se toimitettiin minulle rikkinäisenä.
      Olen yrittänyt saada asiakaspalveluanne kiinni jo 2 viikkoa, mutta kukaan ei ole vielä vastannut.</p>
    <footer class="blockquote-footer">---<cite title="Source Title"> (Samuli CEO, Suhautus)</cite></footer>
  </blockquote>

  <blockquote class="blockquote">
    <p class="mb-0">Miksi teillä on niin kallista?</p>
    <footer class="blockquote-footer">Voittoa pitää saada<cite title="Source Title"> (Santeri, Suhautus)</cite></footer>
  </blockquote>


  <blockquote class="blockquote">
    <p class="mb-0">Tuotteenne muistuttavat hyvin paljon muita netissä nähtäviä tuotteita
    mutta vain vähän eri nimillä. Tuotekuvauksetkin ovat kuin suoraan muualta kopioitu. Onko tämä totta?</p>
    <footer class="blockquote-footer">Liikesalaisuus<cite title="Source Title"> (Kiisseli-Kaija, Suhautus)</cite></footer>
  </blockquote>

  <hr>

  <p>Jos sinulla on lisää kysymyksiä voit ottaa meihin yhteyttä sähköpostissa
  <i class='text-success'>suhautus@gmail.com</i> . Vastaamme mielellään kaikki kysymyksiinne.</p>
</div>
