
<button *ngIf='page === "prod"' class='btn btn-success' (click)='changePage()'>
  <u>Tuotteet</u> | Käyttäjät
</button>
<button *ngIf='page === "user"' class='btn btn-primary' (click)='changePage()'>
  Tuotteet | <u>Käyttäjät</u>
</button>
<hr>

<!-- Tämä osio sisältää kaikki tuotteisiin liittyvät toimenpiteet. Sivulle
pääsee vain, jos olet Admin-käyttäjä. Täältä voit nähdä, poistaa, muokata &
luoda tuotteita. Sivusto päivittyy automaattisesti muokkauksien yhteydessä. -->

<!-- TUOTTEET -->
<div *ngIf='page === "prod"'>

  <h4 *ngIf='newProduct'>Lisää tuote</h4>
  <h4 *ngIf='!newProduct'>Päivitä tuote</h4>
  <hr>

  <!-- Tuotteiden luonti/muokkaus -lomake -->
  <form (ngSubmit)='productHandler(pForm)' class='pb-3 pt-3' #pForm='ngForm' novalidate>


    <!-- TUOTTEEN NIMI & URL-TURVALLINEN NIMI -->
    <div class='row'>

      <!-- Nimi -->
      <div class='col-md form-group'>
        <label>Tuotteen nimi</label>
        <input type='text' name='name' [(ngModel)]='fProduct.name' required
          #name='ngModel' pattern='[-a-öA-Ö0-9 ]+' minlength='10' maxlength='40'
          class='form-control'>
        <div *ngIf='name.invalid && name.dirty && name.touched'
          class='alert alert-warning'>
          <div *ngIf='name.errors.required'>Nimi on pakollinen</div>
          <div *ngIf='name.errors.minlength'>Nimi on liiian lyhyt</div>
          <div *ngIf='name.errors.pattern'>Nimessä ei saa olla erikoismerkkejä</div>
        </div>
      </div>

      <!-- URL-turvallinen nimi -->
      <div class='col-md form-group'>
        <label>URL-nimi</label>
        <input type='text' name='safename' [(ngModel)]='fProduct.safename'
          class='form-control' #safename='ngModel' readonly
          value='{{ convert(fProduct.name) }}'>
      </div>

    </div>


    <!-- EAN-KOODI, HINTA, PAINO & TUOTELAJI-->
    <div class='row'>

      <!-- EAN-koodi -->
      <div class='col-md form-group'>
        <label>EAN-koodi
          <small *ngIf='fProduct.ean'>({{ fProduct.ean.length }} / 13)</small>
        </label>
        <input type='text' name='ean' class='form-control' minlength='13'
          maxlength='13' #ean='ngModel' required [(ngModel)]='fProduct.ean'
          value='{{fProduct.ean | uppercase}}' placeholder='Esim. OW92U4ISJ293E'
          [disabled]='!newProduct' pattern='[a-zA-Z0-9]+'>
        <div *ngIf='ean.invalid && ean.dirty && ean.touched'
          class='alert alert-warning'>
          <div *ngIf='ean.errors.required'>EAN-koodi on pakollinen</div>
          <div *ngIf='ean.errors.minlength'>EAN-koodi on liian lyhyt</div>
          <div *ngIf='ean.errors.pattern'>EAN-koodissa ei saa olla erikoismerkkejä (ml. Å, Ä & Ö)</div>
        </div>
      </div>

      <!-- Hinta -->
      <div class='col-md-3'>
        <label>Hinta</label>
        <div class='form-group input-group'>
          <input type='number' name='price' class='form-control' required
            placeholder='Esim 89.99' #price='ngModel' [(ngModel)]='fProduct.price'>
          <div class="input-group-prepend">
            <div class="input-group-text">€</div>
          </div>
        </div>
        <div *ngIf='price.invalid && price.dirty && price.touched &&
          price.errors.required' class='alert alert-warning'>Hinta on pakollinen
        </div>
      </div>

      <!-- Paino -->
      <div class='col-md-3'>
        <label>Paino</label>
        <div class='form-group input-group'>
          <input type='number' name='weight' class='form-control' required
            placeholder='Esim. 6.39' #weight='ngModel' [(ngModel)]='fProduct.weight'>
          <div class="input-group-prepend">
            <div class="input-group-text">kg</div>
          </div>
        </div>
        <div *ngIf='weight.invalid && weight.dirty && weight.touched &&
          weight.errors.required' class='alert alert-warning'>Paino on pakollinen
        </div>
      </div>

      <!-- Tuotelaji -->
      <div class='col-md'>
        <div class='form-group'>
          <label>Tuotelaji</label>
          <select class='form-control' name='type' #type='ngModel'
            required [(ngModel)]='fProduct.type'>
            <option selected>Valitse tuotelaji</option>
            <option *ngFor='let type of productTypes'>{{ type.type }}</option>
          </select>
        </div>
      </div>

    </div>


    <!-- KUVAUS & 4 AVAINKOHTAA -->
    <div class='row'>

      <!-- Kuvaus -->
      <div class='form-group col-md-7'>
        <label>Tuotteen kuvailu
          <small *ngIf='fProduct.desc'>
            ({{ fProduct.desc.length }} / 100-400 sanaa)
          </small>
        </label>
        <textarea class='form-control' required rows='8' name='desc'
          minlength='100' maxlength='400' style='resize:none' #desc='ngModel'
          [(ngModel)]='fProduct.desc'>
        </textarea>
        <div *ngIf='desc.invalid && desc.dirty && desc.touched'
          class='alert alert-warning'>
          <div *ngIf='desc.errors.required'>Tuotekuvaus on pakollinen</div>
          <div *ngIf='desc.errors.minlength'>Tuotekuvaus on liian lyhyt</div>
        </div>
      </div>

      <!-- 4 avainlausetta tuotteesta -->
      <div class='form-group col-md'>
        <label>4 avainlausetta tuotteesta</label>
        <div class='form-group input-group-prepend'>
          <input type='text' name='bpoint0' class='form-control' #bpoint0='ngModel'
           required [(ngModel)]='fProduct.bpoint0' minlength='10' maxlength='60'>
           <div class='input-group-prepend'>
             <div class='input-group-text'>
               <small *ngIf='fProduct.bpoint0'>{{fProduct.bpoint0.length}} / 10-60</small>
             </div>
           </div>
        </div>
        <div class='form-group input-group-prepend'>
          <input type='text' name='bpoint1' class='form-control' #bpoint1='ngModel'
           required [(ngModel)]='fProduct.bpoint1' minlength='10' maxlength='60'>
          <div class='input-group-prepend'>
            <div class='input-group-text'>
              <small *ngIf='fProduct.bpoint1'>{{fProduct.bpoint1.length}} / 10-60</small>
             </div>
           </div>
        </div>
        <div class='form-group input-group-prepend'>
          <input type='text' name='bpoint2' class='form-control' #bpoint2='ngModel'
           required [(ngModel)]='fProduct.bpoint2' minlength='10' maxlength='60'>
          <div class='input-group-prepend'>
           <div class='input-group-text'>
             <small *ngIf='fProduct.bpoint2'>{{fProduct.bpoint2.length}} / 10-60</small>
           </div>
         </div>
        </div>
        <div class='form-group input-group-prepend'>
          <input type='text' name='bpoint3' class='form-control' #bpoint3='ngModel'
           required [(ngModel)]='fProduct.bpoint3' minlength='10' maxlength='60'>
          <div class='input-group-prepend'>
            <div class='input-group-text'>
              <small *ngIf='fProduct.bpoint3'>{{fProduct.bpoint3.length}} / 10-60</small>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Kuva -->
    <div class='form-group' *ngIf='newProduct'>
      <label>Lisää kuva tuotteelle
        <small>(Kuvan nimellä ei ole väliä. Yleisimmät kuvaformaatit toimivat.)</small>
      </label>
      <div class='custom-file'>
        <input type='file' class='custom-file-input' id='image' name='pForm.image'
          (change)='onfileSelected($event)'>
        <label class='custom-file-label' for='image'>
          <span *ngIf='!imgSelected'>Lataa kuva</span>
          <span *ngIf='imgSelected'>{{ imgSelected }}</span>
        </label>
      </div>
    </div>

    <!-- Kuva uudelle tuotteelle -->
    <button *ngIf='newProduct' type='submit' [disabled]='!imgSelected || !pForm.form.valid'
      class='btn btn-primary'>
      <span *ngIf='!product_processing'>Lisää tuote</span>
      <span *ngIf='product_processing'><i class='fa fa-spinner fa-spin'></i></span>
    </button>

    <!-- Ei kuvanmuokkausta tuotteen päivittämisessä -->
    <p *ngIf='!newProduct'>(Päivitettävän tuotteen kuvaa ei voida vaihtaa
      sivulta käsin. Pyydä palvelimen tukihenkilöä tähän hommaan.)</p>

    <!-- Päivitettävän tuotteen lähetys/peruutus -->
    <span *ngIf='!newProduct'>
      <button type='submit' class='btn btn-primary mr-2'
        [disabled]='pForm.form.invalid && pForm.form.pristine'>
          <span *ngIf='!product_processing'>Päivitä tuote</span>
          <span *ngIf='product_processing'><i class='fa fa-spinner fa-spin'></i></span>
      </button>
      <button type='button' (click)='changeProductAttribute(); pForm.reset();
          getAllProducts();' class='btn btn-danger'> Peruuta päivitys
      </button>
    </span>

  </form>

  <!-- Tuotteen lisäys onnistui/epäonnistui -->
  <div class='pt-1 mt-2 mb-2'>
    <span *ngIf='productSuccess' class='alert alert-success'>
      {{ productSuccess }}
    </span>
    <span *ngIf='productFailed' class='alert alert-danger'>
      {{ productFailed }}
    </span>
  </div>



  <!-- Kaikki tuotteet -->
  <h4 class='mt-3'>Kaikki tuotteet</h4>
  <hr>

  <div *ngFor='let p of products' class='border p-3 mt-3'>
    <img [src]='imageurl+p.img' [alt]='p.img' height='45px' width='45px'>
    <div class='row'>
      <div class='col-md-4'>
        <b>EAN: </b> {{ p.ean }}
      </div>
      <div class='col-md-3'>
        <b>Nimi: </b> {{ p.name }}
      </div>
      <div class='col-md-4'>
        <b>URL-nimi: </b> {{ p.safename }}
      </div>
      <div class='col-md-4'>
        <b>Tuotelaji: </b> {{ p.type }}
      </div>
      <div class='col-md-3'>
        <b>Hinta: </b> {{ p.price }} €
      </div>
      <div class='col-md-3'>
        <b>Paino: </b> {{ p.weight }} kg
      </div>
      <div class='col-md-2'>
        <button type='button' class='btn btn-danger px-1 py-0' mwlConfirmationPopover
          (confirm)='deleteProd(p.ean, p.img)' popoverTitle='Oletko varma'
          popoverMessage='Tämä poistaa tuotteen pysyvästi.' placement='top'
          confirmText='Kyllä' cancelText='En'> <i class='fa fa-trash'></i>
        </button>
        <button type='button' class='btn btn-primary px-1 py-0 ml-1'
          (click)='updateProd(p)'><i class='fa fa-edit'></i>
        </button>
      </div>
    </div>
  </div>

</div>


<!-- Admin-sivuston käyttäjä-osio, joka sisältää kaikki käyttäjät. Tällä hetkellä
käyttäjiä ei voida poistaa -->
<!-- TODO// Lisää Admin-käyttäjälle mahdollisuus muokata käyttäjiä ?? -->


<div *ngIf='page === "user"'>

  <h4 class='mt-3'>Sivustolle rekisteröityneet käyttäjät</h4>
  <p>(Käyttäjiä yhteensä {{ users.length }} kpl)</p>
  <p class='bg-success rounded p-2 text-light'><small>Kyseessä on arkaluontoista
  tietoa joten ethän ole täällä ilman selvää syytä :)</small></p>

  <div *ngFor='let u of users' class='border p-3 mt-3'>
    <div class='row'>
      <div class='col-md-4'>
        <b>Nimi </b> {{ u.firstname }} {{ u.surname }}
      </div>
      <div class='col-md-4'>
        <b>Email: </b> {{ u.email }}
      </div>
      <div class='col-md-4'>
        <b>Lähiosoite: </b> {{ u.address }}
      </div>
      <div class='col-md-4'>
        <b>Paikkakunta: </b> {{ u.postnumber }}, {{ u.city}}
      </div>
      <div class='col-md-4'>
        <b>Uutiskirjelähetys: </b>
        <span *ngIf='u.send_email'>Kyllä</span>
        <span *ngIf='!u.send_email'>Ei</span>
      </div>
      <div class='col-md-4'>
        <b>Järjestelmänvalvoja: </b>
        <span *ngIf='u.isadmin'>Kyllä</span>
        <span *ngIf='!u.isadmin'>Ei</span>
      </div>
    </div>
  </div>

</div>
